<html>
   <body align="center"></br></br>
       <h3>Enter the details of the Criminal</h3>
      <form action = "/addcriminal" method = "POST">
         <table align="center" >
             <tr>
               <td><p>Criminal ID</p></td>
               <td><input type = "text" class="form-control" name = "criid" /></td></tr>
         <tr>
            <tr>
               <td><p>Full Name</p></td>
               <td><input type = "text" class="form-control" name = "criname" /></td></tr>
         <tr>
               <td>
                  <p>Country</p> </td>
                 <td> <input type = "text" class="form-control" name = "cricountry" /></td>
         </tr>
         <tr>
               <td>
                  <p>Crime Count</p> </td>
                 <td> <input type = "text" class="form-control" name = "cricount" /></td>
         </tr>
         </table>
         </br></br>
            <input type = "submit" value = "submit" />
      </form>
   </body>
</html>