<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home of all criminal records</title>
</head>
<style>
.button {
  background-color: #af4caf;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
</style>
<body>
<h1 align="center">Welcome my dear to the criminal database</h1>
<div align="center">
    <a href="/addcriminalform"><input type="button"  class="button" value="Add Criminal Info"></a>
</br>
     <a href="/showallcriminals"><input type="button"  class="button" value="Show All Criminal Info"></a>
</div>
</body>
</html>